@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/HelveticaNeue-Bold.otf')  format('opentype'),
	     url('fonts/HelveticaNeue-Bold.woff') format('woff'), url('fonts/HelveticaNeue-Bold.ttf')  format('truetype'), url('fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Extended';
  src: url('fonts/HelveticaNeue-Extended.eot?#iefix') format('embedded-opentype'),  url('fonts/HelveticaNeue-Extended.otf')  format('opentype'),
	     url('fonts/HelveticaNeue-Extended.woff') format('woff'), url('fonts/HelveticaNeue-Extended.ttf')  format('truetype'), url('fonts/HelveticaNeue-Extended.svg#HelveticaNeue-Extended') format('svg');
  font-weight: normal;
  font-style: normal;
}
