body {
    background-image: linear-gradient(#F5F5F5, #FFFFFF);
}
.footer {
    border-top: 1pt solid #E0E0E0;
    overflow: hidden !important;
}
.name {
    background: #009688;
    color: #FFF;
    display: inline-block;
    padding: 0 3rem;
    white-space: normal;
    word-wrap: break-word;
    box-sizing: border-box;
    max-width: 100%;
}
.innerFooter a {
    color: #E91E63;
}
#definition span {
    background-color: #FFF176;
    outline: .25rem solid #FFF176;
    line-height: 1.75;
}
#image {
    border: 3pt solid #424242;
}